{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Dead by Daylight -->
                    <div class="carousel-item active" data-bs-interval="3000">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710436635/EGS_DeadbyDaylight_BehaviourInteractive_S1_2560x1440-a32581cf9948a9a2e24b2ff15c1577c7_kvyfhw.jpg"
                                class="d-block img-fluid" alt="Dead by Daylight - Multiplayer Horror Game">
                            <div class="overlay-text">
                                <h2>Dead by Daylight</h2>
                                <p>A thrilling asymmetrical multiplayer horror game where players take on the roles of both survivors trying to escape and a killer hunting them down.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Hogwarts Legacy -->
                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198317/2x1_NSwitch_HogwartsLegacy_env2rl.jpg"
                                class="d-block img-fluid" alt="Hogwarts Legacy game">
                            <div class="overlay-text">
                                <h2>Hogwarts Legacy</h2>
                                <p>Embark on a journey to Hogwarts and experience the magic!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Helldivers II -->
                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198515/helldivers-2-pc-game-steam-europe-cover_09a589f445b447978f58c5e3249265b4_s7xg5j.jpg"
                                class="d-block img-fluid" alt="Helldivers II game">
                            <div class="overlay-text">
                                <h2>Helldivers II</h2>
                                <p>Join the elite squad of Helldivers and engage in co-op mayhem against alien enemies!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Forza Horizon 5 -->
                    <div class="carousel-item" data-bs-interval="3000">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710437373/capsule_616x353_uinrpu.jpg"
                                class="d-block img-fluid" alt="Forza Horizon 5 game">
                            <div class="overlay-text">
                                <h2>Forza Horizon 5</h2>
                                <p>Experience the thrill of open-world racing across diverse landscapes and stunning environments in the latest installment of the acclaimed racing series!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container mt-3">
                <div class="row">
                    <!-- Dead by Daylight side image -->
                    <div class="col-md-12 mb-3">
                        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710436635/EGS_DeadbyDaylight_BehaviourInteractive_S1_2560x1440-a32581cf9948a9a2e24b2ff15c1577c7_kvyfhw.jpg"
                            class="img-fluid side-image" alt="Dead by Daylight - Multiplayer Horror Game">
                    </div>
                    <!-- Hogwarts Legacy side image -->
                    <div class="col-md-12 mb-3">
                        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198317/2x1_NSwitch_HogwartsLegacy_env2rl.jpg"
                            class="img-fluid side-image" alt="Hogwarts Legacy game">
                    </div>
                    <!-- Helldivers II side image -->
                    <div class="col-md-12 mb-3">
                        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198515/helldivers-2-pc-game-steam-europe-cover_09a589f445b447978f58c5e3249265b4_s7xg5j.jpg"
                            class="img-fluid side-image" alt="Helldivers II game">
                    </div>
                    <!-- Forza Horizon 5 side image -->
                    <div class="col-md-12 mb-3">
                        <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710437373/capsule_616x353_uinrpu.jpg"
                            class="img-fluid side-image" alt="Forza Horizon 5 game">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="best-sellers">Best Sellers</h2>
    <hr class="underline">
    <div class="row">
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710445835/da2b2d57e2b8654397043377654b1aa3ce6c11a03435c9afa28325e4f0fcc610_product_card_v2_mobile_slider_639_ppxtqk.jpg" class="card-img-top" alt="Counter-Strike 2 multiplayer game">
                    <div class="card-description">
                        <h5 class="card-title">Baldur's Gate 3</h5>
                        <p class="card-text">Baldur's Gate 3 is a story-rich, party-based RPG set in the universe of Dungeons & Dragons, where your choices shape a tale of fellowship and betrayal, survival and sacrifice, and the lure of absolute power.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£59.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>

        <!-- Add more containers here -->
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198515/helldivers-2-pc-game-steam-europe-cover_09a589f445b447978f58c5e3249265b4_s7xg5j.jpg" class="card-img-top" alt="Helldivers II game">
                    <div class="card-description">
                        <h5 class="card-title">Helldivers II</h5>
                        <p class="card-text">The Galaxy’s Last Line of Offence. Enlist in the Helldivers and join the fight for freedom across a hostile galaxy in a fast, frantic, and ferocious third-person shooter.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£39.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710436635/EGS_DeadbyDaylight_BehaviourInteractive_S1_2560x1440-a32581cf9948a9a2e24b2ff15c1577c7_kvyfhw.jpg" class="card-img-top" alt="Dead by Daylight - Multiplayer Horror Game">
                    <div class="card-description">
                        <h5 class="card-title">Dead by Daylight</h5>
                        <p class="card-text">Dead by Daylight is a multiplayer (4vs1) horror game where one player takes on the role of the savage Killer, and the other four players play as Survivors, trying to escape the Killer and avoid being caught and killed.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£19.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>
        <!-- Add 3 more containers here -->
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710437337/capsule_616x353_sz8qjw.jpg" class="card-img-top" alt="Tom Clancy's Rainbow Six® Siege game">
                    <div class="card-description">
                        <h5 class="card-title">Tom Clancy's Rainbow Six® Siege</h5>
                        <p class="card-text">Tom Clancy's Rainbow Six® Siege is an elite, tactical team-based shooter where superior planning and execution triumph.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£19.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710437373/capsule_616x353_uinrpu.jpg" class="card-img-top" alt="Forza Horizon 5 game">
                    <div class="card-description">
                        <h5 class="card-title">Forza Horizon 5</h5>
                        <p class="card-text">Explore the vibrant open world landscapes of Mexico with limitless, fun driving action in the world’s greatest cars.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£59.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 game-card">
            <div class="card">
                <div class="card-inner">
                    <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710437421/maxresdefault_s5iirk.jpg" class="card-img-top" alt="ELDEN RING game">
                    <div class="card-description">
                        <h5 class="card-title">ELDEN RING</h5>
                        <p class="card-text">THE NEW FANTASY ACTION RPG. Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="price">£59.99</p>
                    <button class="btn btn-primary add-to-bag"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2>Coming Soon</h2>
    <div class="row">
        <!-- Add 2 more containers here -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'path_to_featured_product_image.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comming Soon Product Name</h5>
                    <p class="card-text">Product description</p>
                    <a href="#" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'path_to_featured_product_image.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comming Soon Product Name</h5>
                    <p class="card-text">Product description</p>
                    <a href="#" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'path_to_featured_product_image.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comming Soon Product Name</h5>
                    <p class="card-text">Product description</p>
                    <a href="#" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2>Testimonials</h2>
    <div class="row">
        <!-- testimonials here -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">"Testimonial text."</p>
                    <footer class="blockquote-footer">John Doe</footer>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
