{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="carousel" class="carousel_slide carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198035/csgo_ftqrqr.jpg"
                class="d-block  img-fluid" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198317/2x1_NSwitch_HogwartsLegacy_env2rl.jpg"
                class="d-block  img-fluid" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198515/helldivers-2-pc-game-steam-europe-cover_09a589f445b447978f58c5e3249265b4_s7xg5j.jpg"
                class="d-block  img-fluid" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710198552/AC_20KINGDOM_20PREORDER_STANDARD_20EDITION_EPIC_Key_Art_Wide_3840x2160-3840x2160-485fe17203671386c71bde8110886c7d_zrgxim.jpg"
                class="d-block  img-fluid" alt="">
        </div>
    </div>
</div>


{% endblock %}
