{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-white">Order Details - Order Number: {{ order.order_number }}</h2>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title text-white">Order Date: {{ order.created_at }}</h5>
            <h5 class="card-title text-white">Status: {{ order.status }}</h5>
            <h3 class="mt-4 mb-3 text-white">Order Items</h3>
            <table class="table table-striped text-white">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items.all %}
                    <tr>
                        <td class="text-white">{{ item.product_inventory.product.name }}</td>
                        <td class="text-white">{{ item.quantity }}</td>
                        <td class="text-white">{{ item.lineitem_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="text-white">Total Price: {{ order.total_paid }}</p>
            {% if order.status == 'Pending' %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelOrderModal">
                Cancel Order
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="cancelOrderModalLabel">Confirm Cancellation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark">
                            Are you sure you want to cancel this order?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="{% url 'orders:cancel_order' order.order_number %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Confirm Cancellation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
