{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 text-white">Checkout</h1>

    <div class="alert alert-info text-center" role="alert">
        Note: You can only purchase one quantity of each game per transaction.
    </div>

    {% if products %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-white">Product Name</th>
                    <th scope="col" class="text-white">Price</th>
                    <th scope="col" class="text-white">Quantity</th>
                    <th scope="col" class="text-white">Subtotal</th>
                    <th scope="col" class="text-white">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="text-white">{{ product.name }}</td>
                    <td class="text-white">£{{ product.price }}</td>
                    <td class="text-white">1</td>
                    <td class="text-white">£{{ product.price|calc_subtotal:1 }}</td>
                    <td>
                        <a href="{% url 'remove_from_bag' product.id %}" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-right text-white">Total:</td>
                    <td class="text-white">£{{ total_price }}</td>
                    <td></td> <!-- Empty cell for consistency -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
    </div>
    {% else %}
    <p class="text-white">Your bag is empty.</p>
    {% endif %}
</div>
{% endblock %}
