{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid large-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="font-weight-bold text-uppercase text-white">My Wishlist</h1>
                <hr class="w-50 mb-5">
            </div>
        </div>

        <!-- Display messages -->
        {% for message in messages %}
            <div class="text-white message">{{ message }}</div>
        {% endfor %}

        <!-- Display wishlist items -->
        {% if products %}
            {% for product in products %}
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="image-container mt-5">
                            <a href="{% url 'product_detail' slug=product.slug %}">
                                <img class="card-img-top img-fluid rounded card-image" src="{% if product.image_url %}{{ product.image_url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" alt="{% if product.name %}{{ product.name }}{% else %}No Name{% endif %}">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="products-detail-container my-5">
                            <h3 class="mb-4 pt-md-5 text-white font-weight-bold">{{ product.name }}</h3>
                            <h4 class="text-white lead mb-2 text-left font-weight-bold">£{{ product.price }}</h4>
                            {% if product.category %}
                                <p class="small">
                                    <a class="text-muted text-white font-weight-bold"
                                        href="{% url 'product_list' %}?category={{ product.category.name }}">
                                        <i class="fas fa-hashtag"></i> {{ product.category.friendly_name }}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                        <!-- Buttons -->
                        <div class="text-center">
                            <a class="btn neon-green-button btn-width mt-3 text-color-333" href="{% url 'wishlist:remove_from_wishlist' product.id %}">
                                <span class="text-uppercase font-weight-bold">Remove from wishlist</span>
                            </a>
                                <!-- Add Buy Now button -->
                            <a class="btn neon-green-button btn-width mt-3 text-color-333" href="{% url 'checkout' %}">
                                <span class="text-uppercase font-weight-bold">Buy Now</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <div class="col text-center">
                    <!-- Button to clear wishlist -->
                    <button id="clear-wishlist" class="btn btn-danger btn-width mt-5 text-color-333">Clear Wishlist</button>
                </div>
            </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col text-center mt-3">
                <h3 class="font-weight-bold text-uppercase text-white">Your wishlist is empty.</h3>
                <a class="btn neon-green-button btn-width mt-5" href="{% url 'home' %}">
                    <span class="icon text-color-333">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase font-weight-bold text-color-333">Back to Home</span>
                </a>
            </div>
        </div>
        
        
        {% endif %}
    </div>
    <!-- Script for handling clearing wishlist -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const clearButton = document.getElementById('clear-wishlist');

            clearButton.addEventListener('click', function () {
                // Send AJAX request to clear wishlist
                fetch("{% url 'wishlist:clear_wishlist' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Reload the page to reflect the updated wishlist state
                    location.reload();
                })
                .catch(error => console.error('Error:', error));
            });
        });
            // Function to remove messages after 3 seconds
    function removeMessages() {
        const messages = document.querySelectorAll('.message');
        messages.forEach(message => {
            setTimeout(function () {
                message.remove();
            }, 3000); // 3 seconds timeout
        });
    }

    // Call the function after the DOM is loaded
    document.addEventListener('DOMContentLoaded', removeMessages);
    </script>
{% endblock %}
