/*------ Global Settings ------*/
/* Resetting default margin, padding, and box-sizing for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-content {
    flex: 1;
    display: flex;
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 20px;
}

/* Navbar logo */
.logo-img {
    max-height: 80px;
}

/* Navbar toggler icon */
.navbar-toggler-icon {
    background-color: #ffffff;
}

/* Navbar brand text */
.navbar-brand {
    font-size: 26px;
}

/* Active link */
.nav-item.active .nav-link {
    font-weight: bold;
}

/* Adjustments for the search bar */
.my-auto {
    margin: auto;
}

.input-group {
    width: auto;
    max-width: 600px;
}

.form-control {
    border-radius: 25px;
}

.btn {
    border-radius: 25px;
}



/* Footer container */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 50px 0;
}

  /* Footer logo */
.footer__logo--container {
    font-size: 24px;
    margin-bottom: 20px;
}

  /* Footer contact info */
.footer__contact-info {
    margin-bottom: 30px;
}

/* Footer links container */
.footer__links--container {
    margin-bottom: 30px;
}

  /* Footer links */
.footer__links--container a {
    color: #ffffff;
    text-decoration: none;
}

.footer__links--container a:hover {
    color: #2fcd99;
}

  /* Footer social links */
.footer__social-links--container {
    margin-bottom: 30px;
}

/* Social link icons */
.footer__social-links--container .list-inline-item a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
}

  /* Attribution */
.footer__attribution {
    font-size: 14px;
}

.footer__attribution a {
    color: #ffffff;
}

.footer__attribution a:hover {
    color: #2fcd99;
}
