/* Styles for the container */
.container {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

/* Styles for the logout form */
.logout-form {
    margin-top: 20px;
}

/* Styles for buttons */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    background-color: #014e2a;
    border-color: #014e2a;
}

/* Styles for button hover state */
.btn:hover {
    background-color: #01331a;
    border-color: #01331a;
}
