*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scrolling for the entire page */
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1c1c1c;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto; /* Centering content */
    box-sizing: border-box;
    text-align: center; /* Centering content */
}

.main-content {
    flex: 1;
    display: flex;
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease;
    z-index: 1; /* Ensure navbar links are above other elements */
}

/* Navbar links hover effect */
.navbar-nav .nav-link:hover {
    color: #c9fa04;
}

/* Navbar links underline animation */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #c9fa04;
    transition: width 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom left;
}

/* Navbar links hover effect - animate the underline */
.navbar-nav .nav-link:hover::after {
    width: 100%;
    transform: scaleX(1);
}

/* Navbar logo */
.logo-img {
    max-height: 80px;
    z-index: 1; /* Ensure logo is above other elements */
}

/* Navbar toggler icon */
.navbar-toggler-icon {
    background-color: #ffffff;
    z-index: 2; /* Ensure toggler icon is above other elements */
}

/* Navbar brand text */
.navbar-brand {
    font-size: 26px;
    z-index: 1; /* Ensure brand text is above other elements */
}

/* Active link */
.nav-item.active .nav-link {
    font-weight: bold;
}

/* Dropdown menu styling */
.dropdown-menu {
    background-color: #343a40;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.dropdown-menu a {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.dropdown-menu a:hover {
    background-color: #2fcd99;
    color: #ffffff;
}

/* Dropdown menu icon */
.dropdown-menu .dropdown-item-icon {
    margin-right: 10px;
}

/* Ensure dropdown menu is visible on top of other elements */
.dropdown-menu {
    z-index: 9999;
}

/* Adjust positioning of dropdown menu for readability */
@media (max-width: 767px) {
    .dropdown-menu {
        position: relative;
        top: 0;
        left: auto;
        width: auto;
        margin: 0;
        background-color: #343a40;
        border: none;
        box-shadow: none;
    }

    .navbar-nav .dropdown-menu {
        width: 100%;
        left: 0;
        border: none;
    }
}




/* Set fixed height for carousel images */
.carousel-item img {
    width: auto; /* Ensure the width adjusts automatically to maintain aspect ratio */
    height: 800px; /* Set the desired height */
    object-fit: cover; /* Ensure the entire image is visible without stretching */
}

.carousel-image-wrapper {
    position: relative;
    height: 800px; /* Set the same height as the carousel images */
}

.card-inner {
    position: relative;
    overflow: hidden;
}

.card-description {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.card-description.active {
    transform: translateY(0);
}

.card:hover .card-description {
    transform: translateY(0);
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price, .btn-primary {
    color: #fff;
}

.game-card {
    margin-bottom: 30px;
}

.best-sellers {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #014e2a, #c9fa04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.underline {
    border: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #014e2a;
    border-color: #014e2a;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #01331a;
    border-color: #01331a;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
}

.side-image {
    max-width: 80%;
    height: auto;
}

/* Testimonials styling */

/* Testimonials container */
.testimonials-container {
    margin-bottom: 50px; /* Add margin to prevent touching the footer */
}

.testimonial {
    background-color: #333333; /* Dark grey background */
    color: #ffffff; /* Text color */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; /* Add margin between testimonials */
    height: 100%; /* Ensure all boxes have the same height */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.testimonial p {
    font-size: 16px;
    justify-content: center;
}

.testimonial footer {
    font-size: 14px;
    opacity: 0.7; /* Reduce opacity for footer text */
}


/* Footer container */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 50px 0;
}

/* Footer logo */
.footer__logo--container {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer contact info */
.footer__contact-info {
    margin-bottom: 30px;
}

/* Footer links container */
.footer__links--container {
    margin-bottom: 30px;
}

/* Footer links */
.footer__links--container a {
    color: #ffffff;
    text-decoration: none;
}

.footer__links--container a:hover {
    color: #2fcd99;
}

/* Footer social links */
.footer__social-links--container {
    margin-bottom: 30px;
}

/* Social link icons */
.footer__social-links--container .list-inline-item a {
    color: #ffffff;
    font-size: 24px;
    margin-right: 20px;
}

/* Attribution */
.footer__attribution {
    font-size: 14px;
}

.footer__attribution a {
    color: #ffffff;
}

.footer__attribution a:hover {
    color: #2fcd99;
}