{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">User Profile</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white p-4">
                    <h2 class="text-center mb-3">{{ profile.user.username }}</h2>
                    <!-- Delete Profile Link -->
                    <a href="{% url 'delete_profile' %}" class="btn btn-danger btn-block mt-3">Delete Profile</a>
                    
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-dark text-white p-4">
                    <!-- Addresses -->
                    <h2>Addresses</h2>
                    <ul class="list-group">
                        {% for address in addresses %}
                            <li class="list-group-item">{{ address }}</li>
                        {% endfor %}
                    </ul>
                    
                    <!-- Add Address Form -->
                    <h3 class="mt-4">Add Address</h3>
                    <form id="add-address-form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btn-block">Add Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
