{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mt-4 custom-card" style="height: 100%;">
                <img class="card-img-top img-fluid" src="{% if product.image_url %}{{ product.image_url }}{% else %}{% static 'noimage.png' %}{% endif %}" alt="{% if product.name %}{{ product.name }}{% else %}No Name{% endif %}">
                <div class="card-body" style="height: 300px; overflow-y: auto;">
                    <h5 class="card-title">{{ product.name|default:"No Name" }}</h5>
                    <p class="card-text">Category: {{ product.category.name|default:"No Category" }}</p>
                    <p class="card-text">£{{ product.price }}</p>
                    <p class="card-text">{{ product.description|default:"No description available." }}</p>
                </div>
                <div class="card-footer" style="height: 50px;">
                    <a href="#" onclick="history.back();" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back</a>
                    <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Buy Now</button>
                    <a href="#" class="btn btn-outline-danger add-to-wishlist"><i class="fas fa-heart"></i> Add to Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}