{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for game in games %}
        <div class="col-md-3">
            <div class="game-card">
                <img src="{{ game.image_url }}" class="game-image" alt="{{ game.title }}">
                <h3 class="game-title">{{ game.title }}</h3>
                <p class="game-description">{{ game.description }}</p>
                <p class="game-price">${{ game.price }}</p>
                <!-- Add more game details as needed -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}