{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
    {% comment %} Required meta tags {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="e-commerce website for a business to have their online presence, for the customers to find all PC games online. This website has constant sale and discounts for customers" />
    <meta name="keywords"
        content="shopping, online shopping, eshop, game store, online shop, shopping online, online shopping sites, shop online, ecommerce website, clothes shops shopping sites, online shopping websites, online stores, online sale," />
    <meta name="author" content="Aleksandra Suchojad" />
    {% comment %} Favicon {% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#2fcd99">
    <meta name="msapplication-TileColor" content="#2fcd99">
    <meta name="theme-color" content="#2fcd99">
  {% endblock%}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    {% comment %} Link to css {% endcomment %}
    <!-- jquery ui css -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block jslibraries %}
    <script src="https://kit.fontawesome.com/8e4b08b302.js" crossorigin="anonymous"></script>
  {% endblock %}
  {% block corejs %}
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Game Zone {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 100px;">
      <div class="container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="https://res.cloudinary.com/ds7qsnpge/image/upload/v1710197914/Game_Zone_transparent_hpcsuw.png" alt="Logo" class="logo-img" style="max-height: 140px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                PC
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Adventure</a></li>
                <li><a class="dropdown-item" href="#">RPG</a></li>
                <li><a class="dropdown-item" href="#">Strategy</a></li>
                <li><a class="dropdown-item" href="#">Simulation</a></li>
                <li><a class="dropdown-item" href="#">Puzzle</a></li>
                <li><a class="dropdown-item" href="#">Racing</a></li>
                <li><a class="dropdown-item" href="#">Sports</a></li>
                <li><a class="dropdown-item" href="#">Survival</a></li>
                <li><a class="dropdown-item" href="#">Horror</a></li>
                <!-- Add more genres here -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#best-sellers">Best Sellers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#coming-soon">Coming Soon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="{% url 'product_list' %}" aria-label="Go to Products page" class="nav-link">
                <i class="fas fa-store"></i>
                <span class="nav-link-text">Store</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'view_wishlist' %}" aria-label="Go to Wishlist page" class="nav-link">
                <i class="fas fa-heart"></i>
                <span class="nav-link-text">Wishlist</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" aria-label="Go to Bag page" class="nav-link">
                <i class="fas fa-shopping-bag"></i><span id="shopping-bag-count">{{ product_count }}</span>
                <span class="nav-link-text">Bag</span>
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'profile' %}" aria-label="Go to Profile page" class="nav-link">
                <span class="nav-link-text">Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account_logout' %}" aria-label="Logout" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>
            {% elif not request.user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'account_signup' %}" class="nav-link">SignUp</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'account_login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main content container -->
  <main class="main">
    <div class="container">
      <!-- Messages and content -->
      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
  </main>

 <!-- Footer -->
<footer class="footer mt-auto py-3">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Contact Us</h5>
              <p>Address: 123 Main Street, City, Country</p>
              <p>Phone: +1234567890</p>
              <p>Email: info@example.com</p>
          </div>
          <div class="col-md-6">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>

  {% block postloadjs %}
    <!-- JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}" type="module"></script>
  {% endblock %}

  {% block postloadjs_extra %}
  {% endblock %}
</body>
</html>
